.App {
  text-align: center;
}

#root {
  width: 100vw;
  height: 100vh;
}

.main {
  width: 98%;
  margin-left: 1%;
  height: 95%;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows : 10% 45% 45%;
  grid-column-gap : 0;
  grid-row-gap : 0;
  padding : 0;
}

.error {
  color: red;
  font-weight: bold;
}

.playerContainer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end : 4;
}

#player {
  width: 100%;
  height: 100%;
}

.searchContainer {
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}

#searchBar {
  height: 0;
  padding: 10px 0px 10px 0px;
  width: 30%;
}

.searchResultsContainer {
  z-index: 999;
  background-color: white;
}

.searchResultContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.searchResultContainer:hover {
  cursor: pointer
}

.searchResultData {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.verticalCenter {
  justify-content: center;
}

.playlistContainer {
  width: 100%;
  border: 1px solid red;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.playlistVideosContainer {

}

.playlistVideoContainer {

}

.playlistVideo {

}

.playlistVideo:hover {
  cursor: pointer
}

.playlistVideoTitle {
  
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* or any other integer */
}

.playlistVideoImg {
  height: 90px;
}

.addToPlaylistButton {
  border: none;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.removeFromPlaylistButton {
  border: none;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.chatContainer {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  border: 1px solid black;
}

.messageBox {
  overflow-y: scroll;
  height: 80%;
  width: 100%;
}

#chatInput {
  width: 100%;
}

.message {
  width: 100%;
}

.messageContent {
  width: 95%;
  margin-left: 5%;
}

.messageHeader {

}

.messageUser {

}

.messageTime {

}

.messageText {

}

.changeNameContainer {

}

#changeUsernameInput {

}

#changeUsernameSubmit {

}