.App {
  text-align: center;
}

#root {
  width: 100vw;
  height: 100vh;
}

.main {
  width: 98%;
  margin-left: 1%;
  height: 95%;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows : 10% 30% 60%;
  grid-column-gap : 0;
  grid-row-gap : 0;
  padding : 0;
}

.horizontalCenter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.verticalCenter {
  display: flex;
  height: 100%;
  align-items: center;
}

.error {
  color: red;
  font-weight: bold;
  margin-bottom: 1px;
}

.playerContainer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end : 4;
}

#player {
  width: 100%;
  height: 100%;
}

.searchContainer {
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  justify-content: center;
}

.searchBarAndResultsContainer {
  width: 40%;
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 0;
}

#searchBar {
  height: 0;
  padding: 10px 0px 10px 0px;
  width: 100%;
}

.searchResultsContainer {
  z-index: 999;
  background-color: white;
  width: 100%;
}

.searchResultContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.searchResultContainer:hover {
  cursor: pointer
}

.searchResultData {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.playlistContainer {
  width: 100%;
  border: 1px solid black;
  border-bottom: none;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.playlistHeader {
  border-bottom: 1px solid black;
}

.playlistVideosContainer {
  overflow-y: auto;
  height: 100%;
}

.playlistVideoContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: lightgray;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.playlistVideoDataContainer {
  display: flex;
}

.playlistVideo:hover {
  cursor: pointer
}

.playlistVideoTitle {
  width: 40%;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* or any other integer */
}

.playlistVideoImg {
  height: 90px;
}

.addToPlaylistButton {
  border: none;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.removeFromPlaylistButton {
  border: none;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.chatContainer {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 10% 10% 70% 10%;
}

.messageBox {
  overflow-y: auto;
  grid-row-start: 3;
  grid-row-end: 4;
}

#chatInput {
  grid-row-start: 4;
  grid-row-end: 5;
  font-size: 1.5rem;
  border-bottom: none;
}

.message {
  width: 100%;
  border-bottom: 1px solid black;
}

.messageContent {
  width: 95%;
  margin-left: 5%;
}

.messageHeader {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.messageUser {

}

.messageTime {

}

.messageText {

}

.changeNameContainer {
  grid-row-start: 1;
  grid-row-end: 2;
}

#changeUsernameInput {
  width: 81%;
  height: 80%;
}

#changeUsernameSubmit {
  height: 100%;
}

.userListContainer {
  grid-row-start: 2;
  grid-row-end: 3;
  border-bottom: 1px solid black;
  max-width: 100%;
  overflow-y: auto
}

.connectedUserText {
  display: inline-block;
}