.App {
  text-align: center;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding : 0;
  margin : 0;
}

.error {
  color: red;
  font-weight: bold;
  height: 1vh;
}

#player {
  height: 85vh;
  width: 75vw;
  margin-left: 3vw;
}

#searchBar {
  width: 50vw;
  margin-bottom: 2vh;
}

.verticalCenter {
  justify-content: center;
}

.playerAndChatContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.chatContainer {
  width: 20vw;
  height: 80vh;
  border : 1px solid black;
}

.messageBox {
  width: 100%;
  height: 96.4%;
  overflow-y: scroll;
}

#chatInput {
  height: 3%;
  width: 98.8%;
  border-right: none;
  border-bottom : none
}

.message {
  display : flex;
  flex-direction: column;
  width: 100%;
  border-bottom : 1px solid black;
}

.messageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.messageUser {
  font-size: 12px;
  margin-left: 1vw;
}

.messageTime {
  margin-right: 1vw;
  font-size: 12px;
}

.messageText {
  margin-left: 1vw;
}

.changeNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3vh;
  width: 100%;
  margin-bottom: 0.5vh;
}

#changeUsernameInput {
  width: 80%;
}

#changeUsernameSubmit {
  width: 20%;
}

/*
@media  screen and (max-width: 1920px) {
  #player {
    width: 1800px;
    height: 800px;
  }

  #searchBar {
    width: 900px;
    margin-bottom : 20px;
    text-align: center;
  }
}

@media screen and (min-width: 2560px) {
  #player {
    width: 2400px;
    height: 800px;
  }

  #searchBar {
    width: 1600px;
    margin-bottom : 20px;
    text-align: center;
  }
}


@media screen and (min-width: 3440px) {
  #player {
    width: 3300px;
    height: 1300px;
  }

  #searchBar {
    width: 2500px;
    margin-bottom : 30px;
    text-align: center;
  }
}

*/